.book {
    border-bottom: 3px solid black;
    text-align: center;
    margin: 10px;
}

h2 {
    margin: 10px;
    font-size: 26px;
}

img {
    max-width: 200px;
    display: inline-block;
    margin: 10px;
}

ol {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 10px;
    font-family: serif;
    font-size: 18px;
}

li:nth-child(3) {
    max-width: 700px;
    margin: 10px auto;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    .book {
        display: flex;
        flex-wrap: wrap;
    }
    h2 {
        width: 100%;
    }
    img {
        width: 200px;
    }
    ol {
        flex: 1 1 70%;
    }
}